In [17]:
import pandas as pd
import numpy as np

# Replace 'path/to/file.csv' with the actual file path of your CSV file
df = pd.read_csv('C:/Users/mdaminulisla.prodhan/All_My_Miscellenous/Datacentral/no_zero_na_df_1532.csv')

# Check if the dataframe has any null or NaN values
if df.isnull().values.any():
    print("The dataframe contains null or NaN values.")
else:
    print("The dataframe does not contain null or NaN values.")

# Check if the dataframe has any zero or empty values
if (df == 0).values.any() or (df == '').values.any():
    print("The dataframe contains zero or empty values.")
else:
    print("The dataframe does not contain zero or empty values.")
    
# Count the number of zero and empty string values in each column
zero_counts = (df == 0).sum(axis=0)
empty_counts = (df == '').sum(axis=0)

# Print the results
print("Columns with zero values:\n", zero_counts[zero_counts > 0])
print("Columns with empty string values:\n", empty_counts[empty_counts > 0])


# Create a copy of the original dataframe
new_df = df.copy()

# Replace all zero values with NaN
new_df.replace(0, np.nan, inplace=True)

# Drop any rows with NaN values
new_df.dropna(inplace=True)

print(new_df)

# Write the new dataframe to a CSV file
#new_df.to_csv('no_zero_na_df_1532_py_1522row.csv', index=False)

The dataframe does not contain null or NaN values.
The dataframe contains zero or empty values.
Columns with zero values:
 ALogP              2
ALogp2             2
AMR                3
ATSm2              1
ATSm3              3
ATSm4              3
ATSm5              3
ATSp2              1
ATSp3              3
ATSp4              3
ATSp5              3
bpol               1
nB                 1
SC.3               3
SPC.4              3
SPC.5              3
SPC.6              4
SP.0               1
SP.1               1
SP.2               3
SP.3               3
SP.4               3
ECCEN              1
nHBAcc             5
Kier2              3
Kier3              3
nAtomP             8
PetitjeanNumber    2
topoShape          2
TopoPSA            5
VAdjMat            1
WTPT.3             2
WPOL               3
Zagreb             1
dtype: int64
Columns with empty string values:
 Series([], dtype: int64)
                                                 SMILES   ALogP     ALogp2  \
0     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
1     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
2     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
3     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
4     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
...                                                 ...     ...        ...
1530  OS(O)(=O)=O.COc1ccc(cc1)S(=O)(=O)NCc2cc(CN3CCC...  1.7642   3.112402
1531  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  1.0414   1.084514
1532  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  1.0414   1.084514
1533  OS(O)(=O)=O.O[C@H]1CCN(C1)C(=O)Nc2cnn3ccc(nc23...  1.0149   1.030022
1534                       SCCNC(=O)c1cccc(c1)C(=O)NCCS  1.1100   1.232100

           AMR       apol  nAtom      ATSm1      ATSm2      ATSm3      ATSm4  \
0     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
1     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
2     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
3     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
4     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
...        ...        ...    ...        ...        ...        ...        ...
1530  141.8191  81.093755     72  56.531199  60.281187  69.859569  56.323915
1531   97.1628  55.991032     49  34.945590  36.557962  35.311542  20.332364
1532   97.1628  55.991032     49  34.945590  36.557962  35.311542  20.332364
1533  124.6342  68.389032     60  51.938537  53.573697  69.483914  57.391041
1534   77.8512  41.392688     34  32.524405  22.668482  27.775405  29.884190

      ...  TopoPSA   VAdjMat          MW     WTPT.1    WTPT.2     WTPT.3  \
0     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
1     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
2     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
3     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
4     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
...   ...      ...       ...         ...        ...       ...        ...
1530  ...   173.47  6.285402  557.683107  73.720532  1.992447  35.620419
1531  ...   135.02  5.700440  364.460935  48.425994  1.937040  16.857489
1532  ...   135.02  5.700440  364.460935  48.425994  1.937040  16.857489
1533  ...   168.98  6.285402  526.515572  72.658877  2.018302  42.006338
1534  ...   135.80  5.169925  284.400269  35.243255  1.957959  15.762500

             WPATH  WPOL  XLogP  Zagreb
0             4808  63.0  4.639   194.0
1             4808  63.0  4.639   194.0
2             4808  63.0  4.639   194.0
3             4808  63.0  4.639   194.0
4             4808  63.0  4.639   194.0
...            ...   ...    ...     ...
1530  160000002987  46.0  0.840   188.0
1531  200000000054  20.0  0.950   124.0
1532  200000000054  20.0  0.950   124.0
1533  155000002643  49.0  1.310   192.0
1534           685  23.0  2.176    80.0

[1522 rows x 47 columns]

In [18]:
import pandas as pd

# Read in the two dataframes from CSV files
df1 = pd.read_csv('merged_Smiles_zscores_empty_smiles_deleted.csv')
df2 = pd.read_csv('no_zero_na_df_1532_py_1522row.csv')

# Merge the two dataframes on the "SMILES" column and keep only the common rows
merged_df = pd.merge(df1, df2, on='SMILES', how='inner')

# Print the number of rows in the merged dataframe
print(f"The merged dataframe has {len(merged_df)} rows.")

# Print the merged dataframe
print(merged_df)

The merged dataframe has 5904 rows.
          APPID APPROVAL_ID      PUBCHEM  \
0     IND153097  69GCA2KX22  154623230.0
1     IND153097  69GCA2KX22  154623230.0
2     IND153097  69GCA2KX22  154623230.0
3     IND153097  69GCA2KX22  154623230.0
4     IND153097  69GCA2KX22  154623230.0
...         ...         ...          ...
5899  IND162457  7ZAT6ES870   11473982.0
5900  IND162457  7ZAT6ES870   11473982.0
5901  IND162457  7ZAT6ES870   11473982.0
5902  IND121211  RDF76R62ID   67330085.0
5903  IND142442  4U7K5X4ANS   21133161.0

                                                 SMILES   STUDYID  \
0     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
1     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
2     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
3     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
4     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
...                                                 ...       ...
5899  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202110
5900  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202201
5901  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202201
5902  OS(O)(=O)=O.O[C@H]1CCN(C1)C(=O)Nc2cnn3ccc(nc23...   8309212
5903                       SCCNC(=O)c1cccc(c1)C(=O)NCCS   MZE0013

               USUBJID    zscore  mean_BWSTRESN  sd_BWSTRESN  BWSTRESN  ...  \
0        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
1        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
2        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
3        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
4        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
...                ...       ...            ...          ...       ...  ...
5899  TX202110-2192643 -1.649916       2.320000     0.084853      2.18  ...
5900  TX202201-2217377 -1.969163       2.127500     0.151079      1.83  ...
5901  TX202201-2217377 -1.969163       2.127500     0.151079      1.83  ...
5902    8309212-I17715  0.620174       2.700000     0.322490      2.90  ...
5903        MZE0013-36 -1.703678     324.910000    25.714952    281.10  ...

     TopoPSA   VAdjMat          MW     WTPT.1    WTPT.2     WTPT.3  \
0      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
1      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
2      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
3      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
4      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
...      ...       ...         ...        ...       ...        ...
5899  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5900  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5901  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5902  168.98  6.285402  526.515572  72.658877  2.018302  42.006338
5903  135.80  5.169925  284.400269  35.243255  1.957959  15.762500

             WPATH  WPOL  XLogP  Zagreb
0             4808  63.0  4.639   194.0
1             4808  63.0  4.639   194.0
2             4808  63.0  4.639   194.0
3             4808  63.0  4.639   194.0
4             4808  63.0  4.639   194.0
...            ...   ...    ...     ...
5899  200000000054  20.0  0.950   124.0
5900  200000000054  20.0  0.950   124.0
5901  200000000054  20.0  0.950   124.0
5902  155000002643  49.0  1.310   192.0
5903           685  23.0  2.176    80.0

[5904 rows x 59 columns]

In [19]:
import pandas as pd

# Read in the two dataframes from CSV files
df1 = pd.read_csv('merged_Smiles_zscores_empty_smiles_deleted.csv')
df2 = pd.read_csv('no_zero_na_df_1532_py_1522row.csv')

# Merge the two dataframes on the "SMILES" column and keep only the common rows
merged_df = pd.merge(df1, df2, on='SMILES', how='inner')

# Print the number of rows in the merged dataframe
print(f"The merged dataframe has {len(merged_df)} rows.")

# Print the merged dataframe
print(merged_df)

The merged dataframe has 5904 rows.
          APPID APPROVAL_ID      PUBCHEM  \
0     IND153097  69GCA2KX22  154623230.0
1     IND153097  69GCA2KX22  154623230.0
2     IND153097  69GCA2KX22  154623230.0
3     IND153097  69GCA2KX22  154623230.0
4     IND153097  69GCA2KX22  154623230.0
...         ...         ...          ...
5899  IND162457  7ZAT6ES870   11473982.0
5900  IND162457  7ZAT6ES870   11473982.0
5901  IND162457  7ZAT6ES870   11473982.0
5902  IND121211  RDF76R62ID   67330085.0
5903  IND142442  4U7K5X4ANS   21133161.0

                                                 SMILES   STUDYID  \
0     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
1     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
2     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
3     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
4     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...   8425808
...                                                 ...       ...
5899  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202110
5900  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202201
5901  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  TX202201
5902  OS(O)(=O)=O.O[C@H]1CCN(C1)C(=O)Nc2cnn3ccc(nc23...   8309212
5903                       SCCNC(=O)c1cccc(c1)C(=O)NCCS   MZE0013

               USUBJID    zscore  mean_BWSTRESN  sd_BWSTRESN  BWSTRESN  ...  \
0        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
1        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
2        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
3        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
4        8425808-R0201 -0.302732     487.406667    51.552724    471.80  ...
...                ...       ...            ...          ...       ...  ...
5899  TX202110-2192643 -1.649916       2.320000     0.084853      2.18  ...
5900  TX202201-2217377 -1.969163       2.127500     0.151079      1.83  ...
5901  TX202201-2217377 -1.969163       2.127500     0.151079      1.83  ...
5902    8309212-I17715  0.620174       2.700000     0.322490      2.90  ...
5903        MZE0013-36 -1.703678     324.910000    25.714952    281.10  ...

     TopoPSA   VAdjMat          MW     WTPT.1    WTPT.2     WTPT.3  \
0      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
1      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
2      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
3      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
4      91.16  6.321928  533.930913  76.681182  2.017926  36.181243
...      ...       ...         ...        ...       ...        ...
5899  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5900  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5901  135.02  5.700440  364.460935  48.425994  1.937040  16.857489
5902  168.98  6.285402  526.515572  72.658877  2.018302  42.006338
5903  135.80  5.169925  284.400269  35.243255  1.957959  15.762500

             WPATH  WPOL  XLogP  Zagreb
0             4808  63.0  4.639   194.0
1             4808  63.0  4.639   194.0
2             4808  63.0  4.639   194.0
3             4808  63.0  4.639   194.0
4             4808  63.0  4.639   194.0
...            ...   ...    ...     ...
5899  200000000054  20.0  0.950   124.0
5900  200000000054  20.0  0.950   124.0
5901  200000000054  20.0  0.950   124.0
5902  155000002643  49.0  1.310   192.0
5903           685  23.0  2.176    80.0

[5904 rows x 59 columns]

In [8]:
import pandas as pd

# Replace 'path/to/file.csv' with the actual file path of your CSV file
df = pd.read_csv('C:/Users/mdaminulisla.prodhan/All_My_Miscellenous/Datacentral/no_zero_na_df_1532.csv')

In [10]:
# Check if the dataframe has any null or NaN values
if df.isnull().values.any():
    print("The dataframe contains null or NaN values.")
else:
    print("The dataframe does not contain null or NaN values.")

# Check if the dataframe has any zero or empty values
if (df == 0).values.any() or (df == '').values.any():
    print("The dataframe contains zero or empty values.")
else:
    print("The dataframe does not contain zero or empty values.")

The dataframe does not contain null or NaN values.
The dataframe contains zero or empty values.

In [11]:
# Count the number of zero and empty string values in each column
zero_counts = (df == 0).sum(axis=0)
empty_counts = (df == '').sum(axis=0)

# Print the results
print("Columns with zero values:\n", zero_counts[zero_counts > 0])
print("Columns with empty string values:\n", empty_counts[empty_counts > 0])

Columns with zero values:
 ALogP              2
ALogp2             2
AMR                3
ATSm2              1
ATSm3              3
ATSm4              3
ATSm5              3
ATSp2              1
ATSp3              3
ATSp4              3
ATSp5              3
bpol               1
nB                 1
SC.3               3
SPC.4              3
SPC.5              3
SPC.6              4
SP.0               1
SP.1               1
SP.2               3
SP.3               3
SP.4               3
ECCEN              1
nHBAcc             5
Kier2              3
Kier3              3
nAtomP             8
PetitjeanNumber    2
topoShape          2
TopoPSA            5
VAdjMat            1
WTPT.3             2
WPOL               3
Zagreb             1
dtype: int64
Columns with empty string values:
 Series([], dtype: int64)

In [15]:
import numpy as np

# Create a copy of the original dataframe
new_df = df.copy()

# Replace all zero values with NaN
new_df.replace(0, np.nan, inplace=True)

# Drop any rows with NaN values
new_df.dropna(inplace=True)

print(new_df)

                                                 SMILES   ALogP     ALogp2  \
0     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
1     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
2     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
3     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
4     [2H][C@@](C)(NC(=O)COC(F)F)c1cc(F)cc(Cl)c1COc2...  4.9035  24.044312
...                                                 ...     ...        ...
1530  OS(O)(=O)=O.COc1ccc(cc1)S(=O)(=O)NCc2cc(CN3CCC...  1.7642   3.112402
1531  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  1.0414   1.084514
1532  OS(O)(=O)=O.N[C@H]1C[C@@H]1c2ccccc2.N[C@H]3C[C...  1.0414   1.084514
1533  OS(O)(=O)=O.O[C@H]1CCN(C1)C(=O)Nc2cnn3ccc(nc23...  1.0149   1.030022
1534                       SCCNC(=O)c1cccc(c1)C(=O)NCCS  1.1100   1.232100

           AMR       apol  nAtom      ATSm1      ATSm2      ATSm3      ATSm4  \
0     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
1     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
2     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
3     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
4     132.0162  71.093239     60  53.349434  47.297124  70.977093  73.804066
...        ...        ...    ...        ...        ...        ...        ...
1530  141.8191  81.093755     72  56.531199  60.281187  69.859569  56.323915
1531   97.1628  55.991032     49  34.945590  36.557962  35.311542  20.332364
1532   97.1628  55.991032     49  34.945590  36.557962  35.311542  20.332364
1533  124.6342  68.389032     60  51.938537  53.573697  69.483914  57.391041
1534   77.8512  41.392688     34  32.524405  22.668482  27.775405  29.884190

      ...  TopoPSA   VAdjMat          MW     WTPT.1    WTPT.2     WTPT.3  \
0     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
1     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
2     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
3     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
4     ...    91.16  6.321928  533.930913  76.681182  2.017926  36.181243
...   ...      ...       ...         ...        ...       ...        ...
1530  ...   173.47  6.285402  557.683107  73.720532  1.992447  35.620419
1531  ...   135.02  5.700440  364.460935  48.425994  1.937040  16.857489
1532  ...   135.02  5.700440  364.460935  48.425994  1.937040  16.857489
1533  ...   168.98  6.285402  526.515572  72.658877  2.018302  42.006338
1534  ...   135.80  5.169925  284.400269  35.243255  1.957959  15.762500

             WPATH  WPOL  XLogP  Zagreb
0             4808  63.0  4.639   194.0
1             4808  63.0  4.639   194.0
2             4808  63.0  4.639   194.0
3             4808  63.0  4.639   194.0
4             4808  63.0  4.639   194.0
...            ...   ...    ...     ...
1530  160000002987  46.0  0.840   188.0
1531  200000000054  20.0  0.950   124.0
1532  200000000054  20.0  0.950   124.0
1533  155000002643  49.0  1.310   192.0
1534           685  23.0  2.176    80.0

[1522 rows x 47 columns]

In [16]:
# Write the new dataframe to a CSV file
#new_df.to_csv('no_zero_na_df_1532_py_1522row.csv', index=False)