In [3]:
import pandas as pd

# Example data frame
df = pd.read_csv('NCBW.csv')

In [4]:
df

,STUDYID,USUBJID,BWTESTCD,BWSTRESN,BWSTRESU,EXROUTE,EXTRT,EXDOSE,EXDOSU,TXSTUDYID,TXPARMCD,TXVAL,SETCD,DMSTUDY,DMUSID,DMSETCD,DMARM
0,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.0,mg,5002524,TCNTRL,Reference Item,1M,5002524,5002524-1001,1M,0 mg/kg/day Reference Item
1,5002524,5002524-1002,TERMBW,639.00,g,SUBCUTANEOUS,LY3341397,0.0,mg,5002524,TCNTRL,Reference Item,1M,5002524,5002524-1002,1M,0 mg/kg/day Reference Item
2,5002524,5002524-1003,TERMBW,847.00,g,SUBCUTANEOUS,LY3341397,0.0,mg,5002524,TCNTRL,Reference Item,1M,5002524,5002524-1003,1M,0 mg/kg/day Reference Item
3,5002524,5002524-1004,TERMBW,959.00,g,SUBCUTANEOUS,LY3341397,0.0,mg,5002524,TCNTRL,Reference Item,1M,5002524,5002524-1004,1M,0 mg/kg/day Reference Item
4,5002524,5002524-1005,TERMBW,802.00,g,SUBCUTANEOUS,LY3341397,0.0,mg,5002524,TCNTRL,Reference Item,1M,5002524,5002524-1005,1M,0 mg/kg/day Reference Item
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,SBL500-683,500-683_00008,TERMBW,3.10,kg,INTRAVENOUS,ASP2713,0.0,mg/kg,SBL500-683,TCNTRL,Control Article (vehicle),D1F,SBL500-683,500-683_00008,D1F,Control Article
1163,SBL500-683,500-683_00001,TERMBW,4.10,kg,INTRAVENOUS,ASP2713,0.0,mg/kg,SBL500-683,TCNTRL,Control Article (vehicle),D1M,SBL500-683,500-683_00001,D1M,Control Article
1164,SBL500-683,500-683_00002,TERMBW,3.65,kg,INTRAVENOUS,ASP2713,0.0,mg/kg,SBL500-683,TCNTRL,Control Article (vehicle),D1M,SBL500-683,500-683_00002,D1M,Control Article
1165,SBL500-683,500-683_00003,TERMBW,3.40,kg,INTRAVENOUS,ASP2713,0.0,mg/kg,SBL500-683,TCNTRL,Control Article (vehicle),D1M,SBL500-683,500-683_00003,D1M,Control Article
1166,SBL500-683,500-683_00004,TERMBW,3.36,kg,INTRAVENOUS,ASP2713,0.0,mg/kg,SBL500-683,TCNTRL,Control Article (vehicle),D1M,SBL500-683,500-683_00004,D1M,Control Article

In [39]:
amin = df.drop_duplicates(subset=['STUDYID', 'SETCD'])
amin
len(amin)

27

In [41]:
# Get unique combinations of STUDY_ID and SET_CODE
unique_combinations = df[['STUDYID', 'SETCD']].drop_duplicates()
unique_combinations'lhg

          STUDYID  SETCD
0         5002524     1M
30        8002312     1M
50        5002525  1M+TK
57        8002313  1M+TK
65       1152-101      1
74       1152-102      1
80       1152-103      1
101   341-0067-TX      1
111   341-0068-TX      1
115   341-0069-TX      1
135   341-0070-TX      1
141      1152-102     1R
144      1152-103     1R
156   341-0069-TX     1R
166   341-0070-TX     1R
170       8002312     1R
410      1152-103      5
422   341-0069-TX      5
502   341-0070-TX      5
520      1152-103     5R
530   341-0069-TX     5R
570   341-0070-TX     5R
687       8002313  1R+TK
1149   SBL500-317     D1
1151   SBL500-318     D1
1159   SBL500-683    D1F
1163   SBL500-683    D1M

In [29]:
# Create empty data frame to store results
result = pd.DataFrame(columns=['STUDYID', 'SETCD', 'BWSTRESN_mean', 'BWSTRESN_std'])

In [30]:
result

Empty DataFrame
Columns: [STUDYID, SETCD, BWSTRESN_mean, BWSTRESN_std]
Index: []

In [20]:
i=5
print("STUDYID IS:",unique_combinations.iloc[i]['STUDYID'])
print("SETCD IS:",unique_combinations.iloc[i]['SETCD'])
subset_df = df[(df['STUDYID'] == unique_combinations.iloc[i]['STUDYID']) & 
                   (df['SETCD'] == unique_combinations.iloc[i]['SETCD'])][['BWSTRESN']]
print(subset_df)

STUDYID IS: 1152-102
SETCD IS: 1
      BWSTRESN
74        6.65
75        9.35
76        6.30
77        7.35
78        5.55
79        5.75
189       6.65
190       9.35
191       6.30
192       7.35
193       5.55
194       5.75
304       6.65
305       9.35
306       6.30
307       7.35
308       5.55
309       5.75
700       6.65
701       9.35
702       6.30
703       7.35
704       5.55
705       5.75
776       6.65
777       9.35
778       6.30
779       7.35
780       5.55
781       5.75
852       6.65
853       9.35
854       6.30
855       7.35
856       5.55
857       5.75
967       6.65
968       9.35
969       6.30
970       7.35
971       5.55
972       5.75
1082      6.65
1083      9.35
1084      6.30
1085      7.35
1086      5.55
1087      5.75

In [32]:
# Loop through unique combinations and calculate mean and std of SHIT
for i in range(len(unique_combinations)):
    subset_df = df[(df['STUDYID'] == unique_combinations.iloc[i]['STUDYID']) & 
                   (df['SETCD'] == unique_combinations.iloc[i]['SETCD'])][['BWSTRESN']]
    mean_BWSTRESN = subset_df.mean()[0]
    std_BWSTRESN = subset_df.std()[0]
    result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'], 
                            'SETCD': unique_combinations.iloc[i]['SETCD'],
                            'BWSTRESN_mean': mean_BWSTRESN, 'BWSTRESN_std': std_BWSTRESN}, 
                           ignore_index=True)

C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],
C:\Users\mdaminulisla.prodhan\AppData\Local\Temp\1\ipykernel_24648\4012826328.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append({'STUDYID': unique_combinations.iloc[i]['STUDYID'],

In [33]:
print(result)

        STUDYID  SETCD  BWSTRESN_mean  BWSTRESN_std  BWTESTCD_mean  \
0       5002524     1M            NaN           NaN     629.066667
1       8002312     1M            NaN           NaN     382.250000
2       5002525  1M+TK            NaN           NaN      10.214286
3       8002313  1M+TK            NaN           NaN       7.987500
4      1152-101      1            NaN           NaN       2.861111
5      1152-102      1            NaN           NaN       6.825000
6      1152-103      1            NaN           NaN      23.100000
7   341-0067-TX      1            NaN           NaN     289.373000
8   341-0068-TX      1            NaN           NaN       9.200000
9   341-0069-TX      1            NaN           NaN     278.230500
10  341-0070-TX      1            NaN           NaN       9.066667
11     1152-102     1R            NaN           NaN       8.900000
12     1152-103     1R            NaN           NaN      24.783333
13  341-0069-TX     1R            NaN           NaN     349.669000
14  341-0070-TX     1R            NaN           NaN      10.625000
15      8002312     1R            NaN           NaN     474.100000
16     1152-103      5            NaN           NaN      23.066667
17  341-0069-TX      5            NaN           NaN     273.554500
18  341-0070-TX      5            NaN           NaN       9.388889
19     1152-103     5R            NaN           NaN      25.170000
20  341-0069-TX     5R            NaN           NaN     350.739000
21  341-0070-TX     5R            NaN           NaN      10.046154
22      8002313  1R+TK            NaN           NaN       8.450000
23   SBL500-317     D1            NaN           NaN       3.560000
24   SBL500-318     D1            NaN           NaN       4.596667
25   SBL500-683    D1F            NaN           NaN       3.145000
26   SBL500-683    D1M            NaN           NaN       3.627500
27      5002524     1M     629.066667    209.147087            NaN
28      8002312     1M     382.250000     95.134924            NaN
29      5002525  1M+TK      10.214286      0.978898            NaN
30      8002313  1M+TK       7.987500      1.959889            NaN
31     1152-101      1       2.861111      0.474581            NaN
32     1152-102      1       6.825000      1.287501            NaN
33     1152-103      1      23.100000      1.437230            NaN
34  341-0067-TX      1     289.373000     72.321921            NaN
35  341-0068-TX      1       9.200000      1.542516            NaN
36  341-0069-TX      1     278.230500     65.621172            NaN
37  341-0070-TX      1       9.066667      1.150270            NaN
38     1152-102     1R       8.900000      1.719268            NaN
39     1152-103     1R      24.783333      1.761481            NaN
40  341-0069-TX     1R     349.669000     94.172841            NaN
41  341-0070-TX     1R      10.625000      1.393853            NaN
42      8002312     1R     474.100000    147.490500            NaN
43     1152-103      5      23.066667      1.263713            NaN
44  341-0069-TX      5     273.554500     65.464121            NaN
45  341-0070-TX      5       9.388889      0.799183            NaN
46     1152-103     5R      25.170000      1.070877            NaN
47  341-0069-TX     5R     350.739000    104.341376            NaN
48  341-0070-TX     5R      10.046154      1.770412            NaN
49      8002313  1R+TK       8.450000      1.420094            NaN
50   SBL500-317     D1       3.560000      1.143154            NaN
51   SBL500-318     D1       4.596667      0.273398            NaN
52   SBL500-683    D1F       3.145000      0.192267            NaN
53   SBL500-683    D1M       3.627500      0.340135            NaN

    BWTESTCD_std
0     209.147087
1      95.134924
2       0.978898
3       1.959889
4       0.474581
5       1.287501
6       1.437230
7      72.321921
8       1.542516
9      65.621172
10      1.150270
11      1.719268
12      1.761481
13     94.172841
14      1.393853
15    147.490500
16      1.263713
17     65.464121
18      0.799183
19      1.070877
20    104.341376
21      1.770412
22      1.420094
23      1.143154
24      0.273398
25      0.192267
26      0.340135
27           NaN
28           NaN
29           NaN
30           NaN
31           NaN
32           NaN
33           NaN
34           NaN
35           NaN
36           NaN
37           NaN
38           NaN
39           NaN
40           NaN
41           NaN
42           NaN
43           NaN
44           NaN
45           NaN
46           NaN
47           NaN
48           NaN
49           NaN
50           NaN
51           NaN
52           NaN
53           NaN

In [24]:
# Example data frame
df_2 = pd.read_csv ('ABW.csv')

In [25]:
df_2

,STUDYID,USUBJID,BWTESTCD,BWSTRESN,BWSTRESU,EXROUTE,EXTRT,EXDOSE,EXDOSU,SEX,ARMCD,SETCD,DMARM
0,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.00000,mg,M,1,1M,0 mg/kg/day Reference Item
1,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.00546,mg,M,1,1M,0 mg/kg/day Reference Item
2,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.00588,mg,M,1,1M,0 mg/kg/day Reference Item
3,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.00630,mg,M,1,1M,0 mg/kg/day Reference Item
4,5002524,5002524-1001,TERMBW,950.00,g,SUBCUTANEOUS,LY3341397,0.00672,mg,M,1,1M,0 mg/kg/day Reference Item
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73313,SBL500-683,500-683_00052,TERMBW,2.99,kg,INTRAVENOUS,ASP2713,0.00000,mg/kg,F,A05,D5F,ASP2713 30 mg/kg
73314,SBL500-683,500-683_00052,TERMBW,2.99,kg,INTRAVENOUS,ASP2713,0.30000,mg/kg,F,A05,D5F,ASP2713 30 mg/kg
73315,SBL500-683,500-683_00052,TERMBW,2.99,kg,INTRAVENOUS,ASP2713,1.00000,mg/kg,F,A05,D5F,ASP2713 30 mg/kg
73316,SBL500-683,500-683_00052,TERMBW,2.99,kg,INTRAVENOUS,ASP2713,3.00000,mg/kg,F,A05,D5F,ASP2713 30 mg/kg
73317,SBL500-683,500-683_00052,TERMBW,2.99,kg,INTRAVENOUS,ASP2713,30.00000,mg/kg,F,A05,D5F,ASP2713 30 mg/kg

In [26]:
result_2 = pd.DataFrame(columns=['STUDYID', 'SETCD', 'zscore'])

In [27]:
result_2

Empty DataFrame
Columns: [STUDYID, SETCD, zscore]
Index: []

In [28]:
i=1
result[(result['STUDYID'] == unique_combinations.iloc[i]['STUDYID']) & 
                   (result['SETCD'] == unique_combinations.iloc[i]['SETCD'])][['SHIT_mean']]

KeyError: "None of [Index(['SHIT_mean'], dtype='object')] are in the [columns]"

In [ ]:
for i in range(len(unique_combinations)):
    subset_df = df_2[(df_2['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (df_2['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_2']]
    prev_mean=result[(result['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (result['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_mean']]
    prev_std=result[(result['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (result['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_std']]
    mod_val=(subset_df["SHIT_2"]-prev_mean["SHIT_mean"])/prev_std["SHIT_std"]
    print(mod_val)
    result_2 = result_2.append({'STUDY_ID': unique_combinations.iloc[i]['STUDY_ID'], 
                            'SET_CODE': unique_combinations.iloc[i]['SET_CODE'],
                            'SHIT_2_modified': mod_val.values}, 
                           ignore_index=True)

0   NaN
dtype: float64
1   NaN
dtype: float64
2   NaN
dtype: float64
3   -0.707107
6         NaN
dtype: float64
4   NaN
dtype: float64
5   NaN
dtype: float64

In [ ]:
(subset_df["SHIT_2"]-prev_mean["SHIT_mean"])/prev_std["SHIT_std"].values[0]

5   NaN
dtype: float64

In [ ]:
result_2

  STUDY_ID SET_CODE             SHIT_2_modified
0        1        A                       [nan]
1        1        B                       [nan]
2        2        A                       [nan]
3        2        B  [-0.7071067811865475, nan]
4        3        A                       [nan]
5        3        B                       [nan]